$white: #ffffff;
$black: #000000;

$body-color: #E6EEF0;
$sidebar-color: #B0CAD0;

$dark-teal-50: #e6eef0;
$dark-teal-100: #b0cad0;
$dark-teal-200: #8ab0ba;
$dark-teal-300: #548c9a;
$dark-teal-400: #337686;
$dark-teal-500: #005468;
$dark-teal-600: #004c5f;
$dark-teal-700: #003c4a;
$dark-teal-800: #002e39;
$dark-teal-900: #00232c;

$teal-50: #ecf9f8;
$teal-100: #c4eee8;
$teal-200: #a8e5dd;
$teal-300: #80d9ce;
$teal-400: #67d2c5;
$teal-500: #41c7b6;
$teal-600: #3bb5a6;
$teal-700: #2e8d81;
$teal-800: #246d64;
$teal-900: #1b544c;

$mint-50: #e7f6f6;
$mint-100: #b6e3e2;
$mint-200: #92d6d4;
$mint-300: #61c3c1;
$mint-400: #42b7b5;
$mint-500: #13a5a2;
$mint-600: #119693;
$mint-700: #0d7573;
$mint-800: #0a5b59;
$mint-900: #084544;

$charcoal-50: #eaeaea;
$charcoal-100: #bdbdbd;
$charcoal-200: #9d9d9d;
$charcoal-300: #707070;
$charcoal-400: #545454;
$charcoal-500: #292929;
$charcoal-600: #252525;
$charcoal-700: #1d1d1d;
$charcoal-800: #171717;
$charcoal-900: #111111;

$burgundy-red-50: #faeaeb;
$burgundy-red-100: #f0bec2;
$burgundy-red-200: #e89ea4;
$burgundy-red-300: #de727a;
$burgundy-red-400: #d75661;
$burgundy-red-500: #cd2c39;
$burgundy-red-600: #bb2834;
$burgundy-red-700: #921f28;
$burgundy-red-800: #71181f;
$burgundy-red-900: #561218;

$xw-400: 400;
$xw-500: 500;
$xw-600: 600;
$xw-700: 700;
$xw-800: 800;
$xw-900: 900;

$x4-small: 10px;
$x3-small: 12px;
$x2-small: 13px;
$x-small: 14px;
$small: 15px;
$medium: 16px;
$x2-medium: 18px;
$large: 20px;
$x-large: 22px;
$x2-large: 24px;
$x3-large: 28px;
$x4-large: 32px;
$x5-large: 35px;
$x6-large: 36px;
$x7-large: 48px;
$x8-large: 60px;

$desktop: 1024px;
$tablet: 820px;
$mobile: 480px;

$primary-fonts: "Montserrat", sans-serif;
$secondary-fonts: "Poppins", sans-serif;
