@use '../../settings' as *;

.c-download {
  h2 {
    margin: 24px 0;
  }

  .c-download__nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .c-download__left {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;
      justify-content: space-between;
      border-radius: 8px;
      box-shadow: black;

      > button {
        display: flex;
        align-items: center;
        gap: 10px;

        &:hover {
          background-color: $dark-teal-600;
        }
      }
    }
  }

  .c-download__container {
    .c-download__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      padding: 10px;

      table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0 15px;
        border-radius: 8px;
        box-shadow: black;
        overflow: hidden;

        thead {
          color: $black;

          th {
            padding: 4px;
            text-align: center;
          }
        }

        tbody {
          tr {
            background-color: $white;
            margin-bottom: 10px;

            td {
              padding: 12px;
              text-align: center;

              > span {
                background-color: $teal-600;
                display: inline-block;
                width: 15px;
                height: 15px;
                border-radius: 50%;
              }

              > div {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;

                > svg {
                  display: inline-block;
                  text-align: center;
                }
              }
            }
          }
        }
      }
    }
  }
}
