@use '../../settings' as *;

.c-summary-display {
  h2 {
    margin: 24px 0;
  }

  .c-summary-display__container {
    display: flex;
    gap: 10px;
    border-radius: 10px;
    padding: 8px;
    width: 100%;
    background-color: $dark-teal-100;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

    &__wrapper {
      display: flex;
      justify-content: space-evenly;
      gap: 15px;
      flex-wrap: wrap;
      align-items: center;
      width: 100%;
      padding: 8px;

      @media (max-width: $tablet) {
        justify-content: space-evenly;
        gap: 12px;
      }
    }
  }
}